/* Milestone 2 Styles*/

* { padding: 0; margin: 0; }

body { 
    overflow: hidden;
    width:100%;
    height:100%;
}

canvas { 
    background: #eee; 
    display: block;
    /*top:0;*/
    /*left:0; */
    width: 100%;
    height: 100%;
}
